.click-tile{
    background-color: var(--bg1);
    padding: 1em;
    border: 3px solid var(--acc);
}
.click-tile:hover{
    background-color: var(--acc);
    color: var(--fg) !important;
}
.click-tile i{ font-size: 5em; }
.click-tile.small i{ font-size: 1.5em; }
.click-tile h3{
    margin: 0;
}
.see-also:last-child{
    margin-top: 1em;
}

.click-tile .custom-icon{
    height: 1.5em;
}
