.zoom-icons i:hover, .zoom-icons img:hover{
    scale: 150%;
}

.tech-grid{
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    align-items: end;
    justify-items: center;
}
.tech-grid-bar{
    width: 1em;
    background-color: var(--fg);
    border-radius: 5px;
    opacity: 0.5;
}
.tech-grid-bar:hover{
    opacity: 1;
}