.zoom-icons i:hover, .zoom-icons img:hover{
    scale: 150%;
}

.tech-grid{
    align-items: end;
}
.tech-grid .container{
    align-items: center;
    justify-content: flex-end;
}
.tech-grid-bar{
    width: 1em;
    background-color: var(--fg);
    border-radius: 5px;
    opacity: 0.5;
}
.tech-grid-bar:hover{
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .tech-grid{
        flex-wrap: wrap;
    }
}