header{
    background: var(--bg2);
    padding: 2em 4em;
}
header h1{
    font-size: 4em;
}
header img{
    height: 10em;
}

/**************************/

footer{
    background: #111;
    color: white;
    padding: 1em 5em;
    position: absolute;
    bottom: 0;
    width: calc(100vw - 2*5em);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    font-size: 85%;
    text-align: right;
}
footer>div:first-child{
    flex-direction: row-reverse;
}
footer .logo{
    height: 5em;
}
footer h2, footer p{
    margin: 0;
}
#end-bar{
    align-items: end;
    gap: 0;
}
#lang{
    width: fit-content;
}
#footer-links{
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap; column-gap: 1em;
    max-height: 5em;
}

/*********************/

.section-header{
    align-items: flex-start;
    background-color: var(--bg1);
    padding: 0.5em 1em;
}
.section-header h1, .section-header h2, .section-header h3{
    margin: 0;
}
.section-header>div{
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: flex-end;
}

/***********************/

@media screen and (max-width: 600px) {
    header h1{
        margin: 0;
        font-size: 2em;
    }
    header img{
        height: 7em;
    }

    footer{
        flex-direction: column;
        position: initial;
        gap: 0.5em;
        padding: 1em; width: calc(100vw - 2*1em);
        text-align: center;
    }
    #end-bar{
        align-items: center;
    }
    #footer-links{
        max-height: none;
    }
}